/******** HEADER *****************/
/* ******************************* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  height: 6.8rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.4rem;
}
