/********************************
DISEÑO REGLAS DE LA PAGINA WEB

----------------------
COLORES DE TEXTO
#333


---------------------
COLORES DE ACENTO
#FAF9F7 ----
#2b8a3e ------

---------------------
TIPOGRAFIA-LETRA
Poppings

------------------------
SISTEMA DE TIPOGRAFIA (tamaño)
10 / 12 / 14 / 16 /  18 / 20 / 24 / 30 / 36 / 44 / 52
ESPACIADO DE LETRAS
2 / 4 / 8 / 12 / 14 / 16 / 24 / 32 / 48 / 64 / 84 / 96 / 128




***************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Poppins;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

/******** HEADER *****************/
/* ******************************* */

/* NAVIGATION */

.list-menu {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-menu {
  list-style: none;
}

.menu-bar:link,
.menu-bar:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
}

.menu-bar:hover,
.menu-bar:active {
  text-decoration: none;
  color: #2b8a3e;
}

/* ******************************* */
/******** SECTION HERO *****************/
/* ******************************* */

.section-hero {
  margin-bottom: 6.8rem;
  height: 75%;
}

.container-hero {
  /* max-width: 100%; */
  height: 75%;
  width: 100%;
  border: 2px solid #fff;
  position: relative;
  text-align: center;

  margin-bottom: 9.6rem;
}

.img-hero {
  width: 100%;
  height: 48rem;
  object-fit: cover;
  /* filter: blur(2px); */
}

.hero-text-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-weight: 700;
  animation: color-animation 4s linear infinite;
  text-shadow: 0.5px 0.5px 0.5px #1e612b;
}

.title-word-1 {
  --color-1: #1e612b;
  --color-2: #2b8a3e;
  --color-3: #80b98b;
  transition: all 0.5s;
}

.title-word-1:hover {
  font-size: 6.6rem;
}

.title-word-2 {
  --color-1: #80b98b;
  --color-2: #d5e8d8;
  --color-3: #2b8a3e;
  transition: all 0.5s;
}

/* .title-word-2 {
  --color-1: #80b98b;
  --color-2: #1e612b;
  --color-3: #2b8a3e;
  transition: all 0.5s;
} */
.title-word-2:hover {
  font-size: 6.6rem;
}

.title-word-3 {
  --color-1: #1e612b;
  --color-2: #80b98b;
  --color-3: #d5e8d8;
  transition: all 0.5s;
}

/* .title-word-3 {
  --color-1: #2b8a3e;
  --color-2: #80b98b;
  --color-3: #1e612b;
  transition: all 0.5s;
} */

.title-word-3:hover {
  font-size: 6.6rem;
}

.title-word-4 {
  --color-1: #d5e8d8;
  --color-2: #1e612b;
  --color-3: #80b98b;
  transition: all 0.5s;
}

/* .title-word-4 {
  --color-1: #1e612b;
  --color-2: #2b8a3e;
  --color-3: #80b98b;
  transition: all 0.5s;
} */

.title-word-4:hover {
  font-size: 6.6rem;
}

.hero-icon {
  font-size: 10rem;
  padding-top: 2.4rem;
  color: #1e612b;
  transition: all 0.5s;
}

.hero-icon:hover {
  font-size: 12rem;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* ************************************ */
/* ************* TYPES OF CACTUS */
/* ************************************ */

.section-types {
  margin-bottom: 12.6rem;
}

/*********************** */
/* FLECHAS */

.cont-flechas-izq {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cont-flechas-der {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flecha-izquierda {
  font-size: 6rem;
  /* box-shadow: 0 10px 10px 0 rgba(102, 103, 102, 0.08); */
  border-radius: 11px;

  transition: all 0.5s;
}

.flecha-derecha {
  font-size: 6rem;
  /* box-shadow: 0 10px 10px 0 rgba(102, 103, 102, 0.08); */
  border-radius: 11px;

  transition: all 0.5s;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
  transform: scale(1.1);
  color: #1e612b;
}

/*********************** */
/* CARTAS */

.type-img {
  max-width: 100%;
  grid-column: 2 / 2;
  border-radius: 10% 0% 0% 10%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.066);
}

.type-img-2 {
  max-width: 100%;
  grid-column: 3 / 3;
  border-radius: 0% 10% 10% 0%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.066);
}

.type-text-box {
  background-color: #faf9f7;
  grid-column: 3 / 3;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.066);
  transition: all 0.8s;
  border-radius: 0% 10% 10% 0%;
}

.type-text-box-2:hover,
.type-text-box:hover {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11);
  border-radius: 11px;
  cursor: pointer;
  transform: translateY(-10px);
}

.type-text-box-2 {
  background-color: #faf9f7;
  border-radius: 8px;
  grid-column: 2 / 2;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.066);
  transition: all 0.8s;
  border-radius: 10% 0% 0% 10%;
}

.text-big {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  display: inline-block;

  margin-bottom: 3.2rem;
  margin-top: 4.2rem;
  padding: 1.8rem;
}

.text-small {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: justify;

  padding: 2rem;
}

.discover {
  display: flex;
  justify-content: center;
  padding: 1rem;

  font-size: 1.4rem;
  font-weight: 500;
  color: #1e612b;

  transition: all 0.5s;
}

.discover-more {
  text-decoration: none;
  color: #1e612b;
}

.discover-more:hover {
  color: #2b8a3e;
}

.icon-down:hover {
  color: #2b8a3e;
  transform: scale(1.2);
}

/* ************************* */
/* SECTION TESTIMONIALS */
/* ************************* */

.section-testimonials {
  background-color: #eaf3ec;
  padding: 4.6rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;

  margin-bottom: 12.6rem;
}

.container-testimonials {
  display: grid;
  /* grid-template-columns; */
  gap: 4.6rem;
}

.testimonials-title {
  font-size: 3.6rem;
  text-transform: uppercase;
  padding: 2rem 6rem 2rem 6rem;
  color: #2b8a3e;
}

.text-small-info {
  font-size: 1.6rem;
  padding: 2rem 6rem 4rem 6rem;
  font-weight: 400;
  color: #2b8a3e;

  line-height: 2rem;
  text-align: justify;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.gallery-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ************************************ */
/* ************* CAROUSEL */
/* ************************************ */

.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: 50px;
  position: relative;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #333;
  font-size: 12px;
}

.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
  font-weight: bold;
  font-size: 5em;
  list-style: 1.3em;
}

.carousel .list .item .content .topic {
  color: #80b98b;
}

.carousel .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
}
