/********************************
DISEÑO REGLAS DE LA PAGINA WEB

----------------------
COLORES DE TEXTO
#333


---------------------
COLORES DE ACENTO
#FAF9F7 ----
#2b8a3e ------

---------------------
TIPOGRAFIA-LETRA
Poppings

------------------------
SISTEMA DE TIPOGRAFIA (tamaño)
10 / 12 / 14 / 16 /  18 / 20 / 24 / 30 / 36 / 44 / 52
ESPACIADO DE LETRAS
2 / 4 / 8 / 12 / 14 / 16 / 24 / 32 / 48 / 64 / 84 / 96 / 128




***************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Poppins;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

/******** HEADER *****************/
/* ******************************* */

/* NAVIGATION */

.list-menu {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-menu {
  list-style: none;
}

.menu-bar:link,
.menu-bar:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
}

.menu-bar:hover,
.menu-bar:active {
  text-decoration: none;
  color: #2b8a3e;
}

/* ******************************* */
/******** SECTION HERO *****************/
/* ******************************* */

.section-hero {
  margin-bottom: 6.8rem;
  height: 75%;
}

.container-hero {
  /* max-width: 100%; */
  height: 75%;
  width: 100%;
  border: 2px solid #fff;
  position: relative;
  text-align: center;
}

.img-hero {
  width: 100%;
  height: 48rem;
  object-fit: cover;
  /* filter: blur(2px); */
}

.hero-text-box {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-weight: 800;
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #1e612b;
  --color-2: #2b8a3e;
  --color-3: #80b98b;
  transition: all 0.5s;
}

.title-word-1:hover {
  font-size: 6.6rem;
}

.title-word-2 {
  --color-1: #80b98b;
  --color-2: #d5e8d8;
  --color-3: #2b8a3e;
  transition: all 0.5s;
}

/* .title-word-2 {
  --color-1: #80b98b;
  --color-2: #1e612b;
  --color-3: #2b8a3e;
  transition: all 0.5s;
} */
.title-word-2:hover {
  font-size: 6.6rem;
}

.title-word-3 {
  --color-1: #1e612b;
  --color-2: #80b98b;
  --color-3: #d5e8d8;
  transition: all 0.5s;
}

/* .title-word-3 {
  --color-1: #2b8a3e;
  --color-2: #80b98b;
  --color-3: #1e612b;
  transition: all 0.5s;
} */

.title-word-3:hover {
  font-size: 6.6rem;
}

.title-word-4 {
  --color-1: #d5e8d8;
  --color-2: #1e612b;
  --color-3: #80b98b;
  transition: all 0.5s;
}

/* .title-word-4 {
  --color-1: #1e612b;
  --color-2: #2b8a3e;
  --color-3: #80b98b;
  transition: all 0.5s;
} */

.title-word-4:hover {
  font-size: 6.6rem;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* ************************************ */
/* ************* TYPES OF CACTUS */
/* ************************************ */

.section-types {
  margin-bottom: 6.4rem;
}

.type-img {
  max-width: 100%;
  grid-column: 2 / 2;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.066);
}

/* .type-img img:hover {
  display: block;
  width: 100%;
  transition: all 0.5s;
} */

.type-img-2 {
  max-width: 100%;
  grid-column: 3 / 3;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.066);
}

.type-text-box {
  background-color: #faf9f7;
  grid-column: 3 / 3;
  border-radius: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.066);
  transition: all 0.8s;
}

.type-text-box-2:hover,
.type-text-box:hover {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.11);
  border-radius: 11px;
  cursor: pointer;
  transform: translateY(-10px);
}

.type-text-box-2 {
  background-color: #faf9f7;
  border-radius: 8px;
  grid-column: 2 / 2;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.066);
  transition: all 0.8s;
}

.text-big {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: bold;
  display: inline-block;

  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
  padding: 1.8rem;
}

.text-small {
  font-size: 1.4rem;
  line-height: 1.8rem;

  text-align: center;
  padding: 1rem;
}

.container-hero {
  height: auto;
  width: 100%;
}
